<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
     ">


    <!-- 自动扫描的包名，如果有多个包，请使用逗号隔开 -->
    <context:component-scan base-package="com.*" />
    <bean id="myController" class="com.haha.controller.MyController"/>
    <!--&lt;!&ndash; 默认的注解映射的支持 &ndash;&gt;-->
    <!--<mvc:annotation-driven />-->
    <!--&lt;!&ndash; 启动对aspectj的支持 &ndash;&gt;-->
    <!--<aop:aspectj-autoproxy/>-->


    <!--&lt;!&ndash; 自动搜索指定包及其子包下的所有Bean类 &ndash;&gt;-->
    <!--<context:component-scan base-package="com.*" />-->


    <!--&lt;!&ndash; 读取属性文件信息，将这些信息设置成Spring配置文件的数据 &ndash;&gt;-->
    <!--<context:property-placeholder location="classpath:src/main/resources/jdbc.propertiesces/jdbc.properties" />-->
    <!--&lt;!&ndash; 定义数据源Bean，使用C3P0数据源实现 &ndash;&gt;-->
    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"-->
          <!--destroy-method="close">-->
        <!--<property name="user" value="${jdbc.user}" />-->
        <!--<property name="password" value="${jdbc.password}" />-->
        <!--<property name="driverClass" value="${jdbc.driverClass}" />-->
        <!--<property name="jdbcUrl" value="${jdbc.url}" />-->
        <!--<property name="initialPoolSize" value="10" />-->
        <!--<property name="maxIdleTime" value="100" />-->
        <!--<property name="maxPoolSize" value="200" />-->
        <!--<property name="minPoolSize" value="10" />-->
    <!--</bean>-->

    <!--&lt;!&ndash;<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;dataSource属性指定要用到的连接池 &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="dataSource" ref="dataSource" />&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="configLocation" value="classpath:mybatis-config.xml" />&ndash;&gt;-->
    <!--&lt;!&ndash;</bean>&ndash;&gt;-->


    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
        <!--<property name="annotationClass" value="org.springframework.stereotype.Repository" />-->
        <!--<property name="basePackage" value="com" />-->
    <!--</bean>-->

    <!--<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">-->
        <!--<constructor-arg index="0" ref="sqlSessionFactory" />-->
    <!--</bean>-->




    <!-- AOP配置元素
    <aop:config>
        <aop:pointcut expression="execution(* com.jieyou.login_register.service.impl.*.*(..))"
            id="txPoint" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPoint" />
    </aop:config>
    -->
</beans>